<section class="author" itemprop="author">
  <div class="author__content container" itemscope itemtype="http://schema.org/Person">
    <div class="author__pic">
      <img src="http://gravatar.com/avatar/{{site.author.gravatar}}?s=150" alt="{{site.name}}" itemprop="image" class="img-rounded">
    </div>
    <div class="author__bio">
      <h3 class="author__name" itemprop="name">Rafael Almeida</h3>
      <p>
        A brazilian Front-end Engineer, living in Barcelona. Works with the web, loves photography and beers, and hates seafood.
      </p>
      <a href="mailto:{{site.email}}" class="email" itemprop="email"></a>
      <a href="https://twitter.com/{{site.author.twitter}}" class="twitter-follow-button" data-show-count="true"></a>
    </div>
  </div>
</section>