<!-- DNS prefetch & preconnect -->
<link rel='dns-prefetch' href='//ajax.googleapis.com' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//use.fontawesome.com' />
<link rel='dns-prefetch' href='//s.gravatar.com' />
<link rel='dns-prefetch' href='//s2.getsmartlook.com'>
<link rel='dns-prefetch' href='//rec.getsmartlook.com'>

<link rel='preconnect' href='//fonts.googleapis.com' crossorigin />
<link rel='preconnect' href='//fonts.gstatic.com' crossorigin>
<link rel='preconnect' href='//s2.getsmartlook.com' crossorigin>
<link rel='preconnect' href='//rec.getsmartlook.com' crossorigin>