.author {

  &__info {
    display: table-cell;
    vertical-align: middle;
    padding: 0 50px;
  }

  &__avatar {
    width: 150px;
    border-radius: 50%;
    border: 2px solid #999;
  }

  &__title{
    font-weight: 300;
    font-size: 3em;
    color: inherit;
  }

  &__subtitle{
    text-transform: uppercase;
    color: $gray;
    font-size: 1em;
  }

  img {
    display: inline-block;
  }

  p {
    max-width: 440px;
    margin: 40px auto 0;
    color: inherit;
  }
}
