.menu-list{

  &__item {
    position: relative;
    margin: 0 10px;
    color: #fff;

    a {
      display: block;
      color: inherit;
    }

    &:before {
      content: '•';
      position: absolute;
      top: 0;
      left: -15px;
    }

    &:first-child {
      margin-left: 0;

      &:before {
        content: none;
      }
    }

    .menu-list--inline & {
      display: inline-block;
    }
  }
}
