.share {
  width: $post-width;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 20px;
}

.social-list{
  @extend .default-list;
  display: block;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-top: 2em;

  &__item {
    display: inline-block;
    padding: 0;
    margin: 0;

    &:before {

    }
  }

  a {
    display: inline-block;
    padding: 6px;
    text-align: center;
    color: #a0bdc7;

    &:before {
      font-family: "Ionicons";
      font-weight: normal;
      font-style: normal;
      font-size: 18px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      text-align: center;
      border: solid 2px transparent;
      border-radius: 50%;
    }

    &, &:after, &:before {
      transition: all 100ms ease;
    }
  }

  .facebook {
    a:before { content: "\f231"; }
    a:hover { color: #4c66a4; }
    a:hover:before { border-color: #4c66a4; }
  }

  .twitter {
    a:before { content: "\f243"; }
    a:hover { color: #1e90ff; }
    a:hover:before { border-color: #1e90ff; }
  }

  .gplus {
    a:before { content: "\f235"; }
    a:hover { color: #f53; }
    a:hover:before { border-color: #f53; }
  }

  &__text {
    display: none;
  }
}
