.sidebar {
  display: none;

  @include media(medium) {
    width: 40%;
    display: block;
    float: left;
  }

  .menu-list__item {
    color: $white;
  }
}

.cover {
  @include media(medium) {
    display: table;
    background-color: #333;
    width: 100%;
    height: 100vh;
    position: initial;
    text-align: center;
    background: url('../img/bg-triangles-black.svg') repeat 0;
  }

  &__header{
    display: table-row;
  }

  &__links{
    display: table-row;
    height: 10%;
  }
}

.author {

  &__info {
    display: table-cell;
    vertical-align: middle;
    padding: 0 50px;
  }

  &__avatar {
    width: 150px;
    border-radius: 50%;
    border: 2px solid #999;
  }

  &__title{
    font-weight: 300;
    color: $white;
    font-size: 3em;
  }

  &__subtitle{
    text-transform: uppercase;
    color: $gray;
    font-size: 1em;
  }

  img {
    display: inline-block;
  }

  p {
    max-width: 440px;
    margin: 40px auto 0;
    color: $white;
  }
}
