.pagination {
  text-align: center;
  font-size: .95em;
  position: relative;
  margin:20px 0;

  a.previous {
    position: absolute;
    left: 0;
  }

  a.next {
    position: absolute;
    right: 0;
  }
}
