.author {
  position: relative;
  width: 100%;
  // margin-top: rem(30);
  // padding: rem(30);
  // text-align: center;
  // border-top: 1px solid $hairline;
  color: $white;
  background-color: $midnight;
  // @extend %clearfix;

  // @include media('medium') {
  //   padding: rem(30) rem(50);
  //   text-align: initial;
  // }

  &__content {
    position: relative;
    color: $white;
  }

  // &__name {
  //   margin: rem(10) 0;
  //   @extend .text-light;
  //   font-size: rem(32);
  // }

  // &__subtitle {
  //   margin-top: 0;
  //   @extend .text-light;
  //   font-size: rem(15);
  //   // color: $gray;
  //   letter-spacing: normal;
  //   text-transform: uppercase;
  // }

  // &__pic {
  //   display: block;
  //   min-width: 120px;

  //   @include media('medium') {
  //     display: table-cell;
  //     margin: 0 auto;
  //     vertical-align: middle;
  //   }

  //   img {
  //     width: 120px;
  //     height: 120px;
  //   }
  // }

  // &__bio {
  //   width: 100%;
  //   // color: #3a4250;
  //   font-size: 15px;
  //   padding: 0;

  //   @include media('medium') {
  //     display: table-cell;
  //     width: auto;
  //     padding: 0 0 0 24px;
  //     vertical-align: middle;
  //   }
  // }

  &--centered {
    // margin: 0;
    // padding: 0;
    // text-align: center;
    // border-top: none;

    // .author__bio {
    //   display: block;
    //   width: 100%;
    //   padding: 0;
    //   margin: 0;
    //   text-align: initial;
    // }

    // img {
    //   border: 5px solid $hairline;
    // }
  }
}