@mixin socialiconify ($color, $content) {
  & {
    color: darken($lightgray, 10%);
  }

  &:before {
    content: $content;
  }

  &:hover, &:focus {
    color: $color;
  }

  &:hover:before,
  &:focus:before {
    border-color: $color;
    content: $content;
  }
}

.share {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: rem(30);
  padding: rem(60);
  background-image: url("../svgs/dots-bg.svg");
  background-size: 48px 48px;

  &__post-list {
    @extend .default-list;
    background-color: $white;
  }

  &__post-item {
    display: inline-block;
  }

  &__text {
    display: none;
  }

  &__icon {
    display: inline-block;
    padding: 6px;
    text-align: center;
    box-shadow: none;
    transition: all 100ms linear;

    &:before, a:after {
      transition: all 100ms linear;
    }

    &:before {
      font-family: 'FontAwesome';
      width: 42px;
      height: 42px;
      line-height: 42px;
      display: inline-block;
      text-align: center;
      border: solid 2px transparent;
      border-radius: 50%;
    }

    &--twitter {
      @include socialiconify(dodgerblue, "\f099");
    }

    &--facebook {
      @include socialiconify($navy, "\f09a");
    }

    &--gplus {
      @include socialiconify($tomato, "\f0d5");
    }
  }
}