@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin breakpoint($query-string) {
  @media #{$query-string} {
    @content;
  }
}

/* Breakpoint mixin */
@mixin media($media) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media == $name {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }

    @if not $breakpoint-found {
      @warn "Breakpoint '#{$media}' does not exist";
    }
  }
}

/*
* It create the current percent of a context on a reference using pixels
* Thanks Ethan Marcotte
*/
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}