/**
 * Variables
 */

$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;
$content-width:    45rem;

$base-font-family: 'Merriweather', 'PT Serif', Georgia, Cambria, 'Times New Roman', Times, serif;
$heading-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$breakpoints: (
    'small-only' '(max-width: 30rem)',
    'small' '(min-width: 0rem)',
    'medium' '(min-width: 48rem)',
    'large' '(min-width: 60rem)',
    'x-large' '(min-width: 75rem)'
) !default;

/**
 * Colors
 */

$black:            #4f5a63;
$white:            #fff;

$green:            #45c55f;

$violet:           #a93ee5;

$blue:             #0074d9;
$cyan:             #1ea3ff;
$navy:             #4c66a4;
$season:           #2850f6;

$red:              #da393f;
$tomato:           #f53;

// grays
$gray:             #939aa1;
$lightgray:        #c0d3da;
$hairline:         #eef3fa;
$midnight:         #1d2637;


// base colors
$base-color: $blue;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

// base colors variations
$base-light:      lighten($base-color, 10%);
$base-dark:       darken($base-color, 10%);