{% if page.comments %}

<div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
   <img src="http://placehold.it/120" alt="Image Rafaell Lycan" itemprop="image" width="120" height="120">
   <h3 itemprop="name" rel="author">Rafael Almeida</h3>
   <p itemprop="description">
      É <strong class="blue">desenvolvedor web</strong> focado em <strong class="blue">front-end</strong>, gosta de testar coisas novas como as APIs do <strong class="blue">HTML5</strong> e adora inventar coisinhas com <strong class="blue">Arduino</strong>. <br>
   </p>
</div>

{% endif %}