{% if page.comments %}

<div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
   <img src="http://placehold.it/120" alt="Image Rafaell Lycan" itemprop="image">
   <h3 itemprop="name" rel="author">Rafaell Lycan</h3>
   <p itemprop="description">
      Viu a evolução da web, já usou <strong>Netscape</strong>, <strong>ICQ</strong>, Front Page e CD-ROMs da AOL.
      Hoje é <strong>desenvolvedor web</strong> focado em <strong>front-end</strong>, gosta de testar coisas novas como as APIs do <strong>HTML5</strong> e adora inventar coisinhas com <strong>Arduino</strong>.
   </p>
</div>

{% endif %}