{% if page.comments %}

<div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
   <img src="http://placehold.it/120" alt="Image Rafaell Lycan" itemprop="image">
   <h3 itemprop="name" rel="author">Rafaell Lycan</h3>
   <p itemprop="description">
      Viu a evolução da web, já usou <span class="blue">Netscape</span>, <span class="blue">ICQ</span>, Front Page e CD-ROMs da <span class="blue">AOL</span>. <br>
      Hoje é <strong class="blue">desenvolvedor web</strong> focado em <strong class="blue">front-end</strong>, gosta de testar coisas novas como as APIs do <strong class="blue">HTML5</strong> e adora inventar coisinhas com <strong class="blue">Arduino</strong>.
   </p>
</div>

{% endif %}