{% assign title = page.title %}

{% capture masthead_class %}
  {% if page.layout_options.hero %}masthead--floating{% endif %}
{% endcapture %}

{% capture writing_link_active %}
  {% if title == "Essays" %}masthead__link--active{% endif %}
{% endcapture %}

<header class="header {{ masthead_class | strip }}">
  <a href="/" class="logo">R</a>

  <nav class="main-nav">
    <ul class="main-nav__list">
    {% for item in site.navigation %}

      {% capture is_active %}
        {% if title == item.text or page.url contains item.url %}
          main-nav__link--active
        {% endif %}
      {% endcapture %}

      <li class="main-nav__list-item">
        <a href="{{ item.url }}" class="main-nav__link {{ is_active | strip }}">
          {{ item.text }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </nav>

  <a href="https://github.com/{{site.author.github}}" class="github" title="GitHub">
      {% include icons/github.svg %}
  </a>

  <!-- <div class="menu-button">
    <span class="menu-button__line"></span>
    <span class="menu-button__line"></span>
    <span class="menu-button__line"></span>
  </div> -->
</header>