<!-- Menu -->
<nav class="menu">
   <div class="container">
      <a href="#" class="menu-toggle">&#9776;</a>
       <ul>
           <li><a href="{{post.url}}/" {% if page.menu_current == null %}class="active" {% endif %}>Projetos</a></li>
           <li><a href="{{post.url}}/about" {% if page.menu_current == 'about' %}class="active" {% endif %}>Sobre Mim</a></li>
           <li><a href="{{post.url}}/blog" {% if page.menu_current == 'blog' %}class="active" {% endif %}>Blog</a></li>
       </ul>
   </div>
</nav>