{%if page.date %}
    <p class="meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: '%-d %B %Y'}}</time> | <a href="{{ site.url }}{{ page.url }}index.html#disqus_thread" data-disqus-identifier="{{ page.url }}">Comments</a>
    </p>
{% else %}
    <p class="meta">
        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: '%-d %B %Y'}}</time> | <a href="{{ site.url }}{{ post.url }}index.html#disqus_thread" data-disqus-identifier="{{ post.url }}">Comments</a>
    </p>
{% endif %}
