<!-- Core Meta Data -->
<meta name="author" content="{{ site.author }}">
<meta name="description" content="{{ description }}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<link rel="publisher" href="https://plus.google.com/113755365039926065548">
<link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/rafaell-lycan" title="Rafaell Lycan RSS Feed">

<!-- Google webmaster tools verification code -->
<meta name="google-site-verification" content="x08xUXYXTQWjHPyl9M_w5VIF07UWLSi0XUTxxCSS7rQ" />
