<!-- Core Meta Data -->
<meta name="description" content="{{ description }}">
<meta name="keywords" content="{{ keywords }}">
<meta name="author" content="{{ site.author }} - {{ site.url }}"/>
<meta name="reply-to" content="{{ site.email }}"/>

<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<link rel="alternate" type="application/rss+xml" href="https://feeds.feedburner.com/rafaell-lycan" title="Rafaell Lycan RSS Feed">

<!-- Google webmaster tools verification code -->
<meta name="google-site-verification" content="x08xUXYXTQWjHPyl9M_w5VIF07UWLSi0XUTxxCSS7rQ" />

<meta name="robots" content="index, follow">
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="mobile-web-app-capable" content="yes">

<!-- Manifest -->
<link rel="manifest" href="/manifest.json">

<!-- Icons by pawelgrzybek -->
<link rel="icon" sizes="192x192" href="/assets/img/icon-192x192.png">
<link rel="icon" sizes="144x144" href="/assets/img/icon-144x144.png">
<link rel="apple-touch-icon" sizes="128x128" href="/assets/img/icon-144x144.png">
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="/assets/img/icon-144x144.png">
