<section class="share">
  <h3>Share this post</h3>
  <ul class="social-list">
    <li class="social-list__item facebook hint--bottom" data-hint="Share on Facebook">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="share">
        <span class="social-list__text">Like</span>
      </a>
    </li>

    <li class="social-list__item twitter hint--bottom" data-hint="Share on Twitter">
      <a href="https://twitter.com/share?text={{page.title}}&amp;url={{site.url}}{{page.url}}" target="share">
        <span class="social-list__text">Tweet</span>
      </a>
    </li>

    <li class="social-list__item gplus hint--bottom" data-hint="Share on Google Plus">
      <a href="https://plus.google.com/share?url={{site.url}}{{page.url}}" target="share">
        <span class="social-list__text">+1</span>
      </a>
    </li>
  </ul>
</section>
