         <!-- Twitter Cards -->
         <meta name="twitter:card" content="summary" />
         <meta name="twitter:site" content="@RafaellLycan" />
         <meta name="twitter:url" content="{{ site.url }}" />
         <meta name="twitter:title" content="{{ title }}" />
         <meta name="twitter:description" content="{{ description }}" />
         <meta name="twitter:image" content="{{ image }}" />

         {% if page.author_link %}
            <meta name="twitter:creator" content="@{{ page.author_link | split:'/' | last }}">
         {% endif %}