/**************************************************************************
*
* Fonts
*
* All fonts definitions that will be used through must be
* defined here.
*
**************************************************************************/
@import url("//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic");

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: $dark-gray;
  font-family: $font-title;
  font-weight: 700;
  margin: 0 0 20px;
}

p, ol li, ul li {
  color: $dark-gray;
  font-size: 1.125rem;
  line-height: 1.75em;
  margin: 0 0 20px;
}

h1, .h1 {
  font-size: 3rem;
  line-height: 1.125em;

  @include media(large) {
    font-size: 3.75rem;
  }

  @include media(x-large) {
    font-size: 4.5rem;
  }
}
h2, .h2 {
  font-size: 1.875rem;
  line-height: 1.25em;

  @include media(medium) {
    font-size: 2.625rem;
  }
}
h3, .h3 {
  font-size: 1.75rem;
  line-height: 1.25em;
}
h4, .h4 {
  font-size: 1.25rem;
  line-height: 1.5em;

  @include media(large) {
    font-size: 1.5rem;
  }
}
h5, .h5, h6, .h6 {
  font-size: 0.875rem;
  line-height: 1.125em;
  text-transform: uppercase;
}

code {
  font-family: $font-code;
  font-size: 1rem;
}
