/**************************************************************************
*
* Mixins Module
*
* All mixins that will be used through the styles must be
* defined here.
*
**************************************************************************/

/* Border Radius */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* Breakpoint mixin */
@mixin breakpoint($media) {
  @if $media == mobile {
    @media only screen and (max-width: $small-screen-size) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $small-screen-size + 1) and (max-width: $medium-screen-size - 1) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $large-screen-size) { @content; }
  }
}
