/**************************************************************************
*
* Mixins Module
*
* All mixins that will be used through the styles must be
* defined here.
*
**************************************************************************/

/* Breakpoint mixin */
@mixin media($media) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media == $name {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }

    @if not $breakpoint-found {
      @warn "Breakpoint '#{$media}' does not exist";
    }
  }
}
