/**************************************************************************
*
* Variables Module
*
* All variables that will be used through the styles must be
* defined here.
*
**************************************************************************/

/* Colors */
$white: #fff;
$snow: #FAFAFA;
$light-blue: #9dc8f1;
$blue: #5aa3e8;
$orange: #f5a623;
$yellow: #fffc00;
$gray: #6b7674;
$light-gray: #dce3ef;
$dark-gray: #4f5a63;

/* Sizes */
$default-font-size : 16px;
$max-width: 65em;
$post-width: 48em;

$breakpoints: (
    'x-small' '(max-width: 30em)',
    'small' '(min-width: 0em)',
    'medium' '(min-width: 48em)',
    'large' '(min-width: 60em)',
    'x-large' '(min-width: 75em)'
) !default;

/* Typography */
$font-base: 'Open Sans', sans-serif;
$font-title: 'Open Sans', sans-serif;
$font-code: 'Monaco','Consolas','Menlo', monospace;

$font-size-base: 16px;

$line-height-base: 1.4em;
