---
layout: compress
---
<!doctype html>
<html lang="pt-BR" dir="ltr">
  {% if page.lang %}
    {% assign lang = {{page.lang}} %}
  {% else %}
    {% assign lang = {{site.default_lang}} %}
  {% endif %}
  {% include head.html %}
  <body>
    <!--[if lt IE 9]>
    <div class="browsehappy">
      <p>
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
      </p>
    </div>
  <![endif]-->
    <main class="wrapper">
      {% include navigation.html %}
      <!-- <div class="action-bar">
        <form class="search">
          <input type="text" placeholder="Search posts">
          <ul></ul>
        </form>
      </div> -->

      {{ content }}
    </main>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
