.about{
  .info, .skills{
    width: 100%;
    float: left;
  }
  .info{
    margin-bottom: 2em;
    border-bottom: 1px solid #dedede;

    .title{
      margin: 0;
      font-size: .9em;
      font-style: italic;
    }

    .description{
      margin-top: 0;
    }
  }
  .skills{
    margin-top: 2em;
    padding: 1em 0;
    border-top: 1px solid #dedede;

    .skill{
      margin: 20px 0;
    }

    .title{
      font-size: 1.2em;
      margin: 0;
      font-weight: bold;
    }

    .level{
      font-size: .7em;
      margin: 0;
    }
  }
}
