.about {
  margin: 0 auto;
  max-width: $max-width;

  @include media(medium) {
    padding: 0 0 50px;
  }

  @include media(large) {
    padding: 0 0 100px;
  }

  &__header {
    border-bottom: 1px solid $light-gray;
  }

  &__title {
    text-align: center;
    margin: 80px 0 40px;
  }

  &__info {
    float: left;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 1px solid $light-gray;
  }

  &__column {
    float: left;
    width: 100%;
    padding: 20px 0;

    @include media(medium) {
      width: 33.3%;
    }
  }

  &__small-title,
  &__text {
    margin: 0;
    padding: 0;
  }

  &__small-title {
    font-size: 0.75em;
    font-style: italic;
  }

  &__text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875em;
  }

  &__content {
    padding: 0 20px;
    width: 100%;
    max-width: $post-width;
    margin-left: auto;
    margin-right: auto;
  }
}
