.blog-post {
  margin: 0 auto;
  max-width: $max-width;

  @include media(medium) {
    padding: 0 0 50px;
  }

  &__header {
    text-align: center;
    border-bottom: 1px solid $light-gray;
  }

  &__meta {
    margin: 0 0 40px;

    span {
      font-size: 0.75em;
      line-height: 2em;
    }
  }

  &__title {
    margin: 80px 0 40px;
  }

  &__banner {
    margin: 15px 0 0;
    text-align: center;

    @include media(medium) {
      margin: 20px -50px 0;
    }

    @include media(large) {
      margin: 30px 0;
    }
  }

  img {
    margin: 0 auto;
  }

  &__content {
    padding: 20px;
    width: 100%;
    max-width: $post-width;
    margin-left: auto;
    margin-right: auto;

    img, video {
      margin: 0.85rem auto;
    }

    a {
      box-shadow: 0 1px 0 0 rgba($blue,0.2);

      &:hover {
        box-shadow: 0 2px 0 0 rgba($blue,0.4);
      }
    }

    h1, .h1, h2, .h2, h3, .h3 {
      text-align: center;
    }

    h4, .h4, h5, .h5, h6, .h6 {
      position: relative;

      &:before {
        content: '';
        border-left: 3px solid $orange;
        position: absolute;
        left: -15px;
        height: 75%;
        top: 12%;
      }
    }

    h1, .h1 { margin: 80px auto 40px; }

    h2, .h2 {
      margin: 30px auto 15px;

      @include media(medium) {
        margin: 60px auto 20px;
      }
    }

    h3, .h3 {
      margin: 40px auto 10px;
      @include media(medium) {
        margin: 50px auto 20px;
      }
    }

    h4, .h4 {
      margin-top: 30px;

      @include media(medium) {
        margin: 40px auto 20px;
      }
    }

    blockquote {
      margin: 2em 0;
      padding: 10px 10px 10px 30px;
      font-size: 18px;
      font-style: italic;
      color: #999;
      background-color: $snow;
      border-left: 3px solid $blue;

      p {
        line-height: 1.8em;
      }
    }

  }
}
