.wrap {
  position: relative;
  height: 100%;
  font: $font-size-base $font-base;
}

.main-content {
  position: absolute;
  top: 0;
  left: 40%;
  padding: 50px;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
