.wrap {
  position: relative;
  font: $font-size-base $font-base;
}

.main-content {
  display: block;
  float: left;
  width: 100%;

  @include media(medium) {
    width: 60%;
  }
}

.post-tag {
  color: $orange;
}
