---
layout: store
title: Vende-se (quase) tudo!
resumo: Lojinha do Rafaell Lycan, se algo te interessar entre em contato.
permalink: /vende-se/
---
<section class="shop" itemscope itemtype="https://schema.org/Blog">
  <header class="shop__header">
    <h1 class="shop__heading">
      Vende-se tudo! <br>
      <span class="shop__subtitle">ou quase...</span>
    </h1>
  </header>
  <p>
    <strong>Em breve vou me mudar!</strong> <br>
    Mas infelizmente não posso levar tudo o que tenho. Separei algumas coisas (eletrónicos na maioria) legais; são produtos usados, com detalhes nas descrições de cada produto.
  </p>
  <p> <strong>Gostou de alguma coisa?</strong> <br>
  Leia as regras abaixo e envie um e-mail para <a href="mailto:sonny.webdsg@gmail.com">sonny.webdsg(at)gmail.com</a>, listando os produtos que você tem interesse.
  </p>

  <ul>
    <li>Os produtos só serão liberados após confirmação do pagamento, que deverá ser realizado por transferência bancária (Itaú).</li>
    <li><strong>Os valores são à vista</strong>; Caso você compre mais de um item, o valor continua à vista.</li>
    <li>Alguns dos produtos estão disponíveis no Mercado Livre, nesse caso você pode parcelar através da plataforma com juros inclusos.</li>
    <li>Você pode reservar qualquer produto por 3 (três) dias; se o pagamento não for efetuado nesse prazo, o mesmo será colocado de volta à venda.</li>
    <li><strong>Os preços não são negociáveis</strong>; caso você compre mais de um item, o valor não muda.</li>
    <li>A retirada (transporte, etc) é de sua responsabilidade, assim como a montagem (Som, TV, etc). Para coisas pequenas, recomendo o <a href="https://www.loggi.com/s/5C7V8V-t/">Loggi</a>; a primeira retirada/entrega é grátis!</li>
    <li>Os produtos devem ser retirados em Santo André (ABC Paulista); podemos combinar um dia e horário. Isso significa que <strong>não enviarei nada pra lugar algum.</strong></li>
    <li><strong>Todas as vendas são finais</strong>; veja o produto, teste pois não troco os produtos ou reembolso em caso após a compra.</li>
  </ul>

  <ul class="product-list">
    {% for product in site.products %}
      {% if product.status contains 'price' and product.paused != true %}
      <li class="product">
        <figure class="product__picture">
          <img src="{{ product.image_path }}" alt="{{ product.title }}">
          <figcaption class="{{ product.status }} tag">{{ product.value }}</figcaption>
        </figure>
        <h3>{{ product.title }}</h3>
        {{ product.content }}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="product-list">
    {% for product in site.products %}
      {% if product.status contains 'soon' and product.paused != true %}
      <li class="product">
        <figure class="product__picture">
          <img src="{{ product.image_path }}" alt="{{ product.title }}">
          <figcaption class="{{ product.status }} tag">{{ product.value }}</figcaption>
        </figure>
        <h3>{{ product.title }}</h3>
        {{ product.content }}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="product-list">
    {% for product in site.products %}
      {% if product.status contains 'reserved' and product.paused != true %}
      <li class="product">
        <figure class="product__picture">
          <img src="{{ product.image_path }}" alt="{{ product.title }}">
          <figcaption class="{{ product.status }} tag">{{ product.value }}</figcaption>
        </figure>
        <h3>{{ product.title }}</h3>
        {{ product.content }}
      </li>
      {% endif %}
    {% endfor %}

    {% for product in site.products %}
      {% if product.status contains 'sold' and product.paused != true %}
      <li class="product">
        <figure class="product__picture">
          <img src="{{ product.image_path }}" alt="{{ product.title }}">
          <figcaption class="{{ product.status }} tag">{{ product.value }}</figcaption>
        </figure>
        <h3>{{ product.title }}</h3>
        {{ product.content }}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</section>
