.next-article {
  position: relative;
  display: block;
  padding: 0;
  text-align: center;
  color: inherit;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  margin: rem(100) 0 0;
  box-shadow: 0 10px 50px rgba(0,0,0,.12);

  @include media(medium) {
    margin-left: rem(60);
    margin-right: rem(60);
  }

  background:
  linear-gradient(to bottom right, rgba($season,0.9), rgba(darken($base-color, 20%),0.9)),
  linear-gradient(175deg, rgba(lighten($violet, 20%),0), rgba($season,0.9)),
  $base-color;

  &--with-cover {
    background-color: $black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.7;
      background:
      linear-gradient(to right, rgba($base-dark,0.7), rgba(darken($base-color, 20%),0.7)),
      linear-gradient(177deg, rgba(lighten($base-color, 20%),0), rgba($base-dark,0.9)),
      $base-dark;
    }
  }

  &:hover, &:active {
    text-decoration: none;
  }

  .container {
    padding: rem(80) 1rem;
    z-index: 2;
  }

  &__heading, &__title, &__description {
    display: block;
    margin-bottom: 1rem;
  }

  &__heading {
    font-family: $heading-font-family;
    font-size: rem(12);
    text-transform: uppercase;
    color: $hairline;

    &:before {
      font-family: FontAwesome;
      content: "\f074";
      margin-right: 1em;
      display: inline-block;
      vertical-align: middle;
      color: $cyan;
    }
  }

  &__title {
    margin-top: 0;
    @extend .h3;
    padding: 0;
    color: $white;
  }
  &__description {
    color: $hairline;
  }

  .btn {
    color: $white;
    border-color: $white;

    &:hover {
      color: $black;
      background: $white;
    }
  }
}