.post-list {
  @extend .default-list;
  margin-top: rem(50);
  margin-bottom: rem(50);
  animation: fade 600ms ease;

  &:after, &:before {
    content: '';
    display: block;
    position: relative;
    margin: rem(60) auto;
    height: 1px;
    width: 50px;
    background: $base-color;
    user-select: none;
    animation: fade 600ms ease;
    animation-fill-mode: both;

    @include media(small_only) {
      width: 100%;
    }
  }

  &__item {
    display: block;
    margin-bottom: rem(30);
    border-bottom: 1px solid $hairline;

    &:last-child {
      border: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__link {
    display: block;
    color: #333;
    border: 0;
    text-decoration: none;
    transition: color 300ms ease-in-out;

    &:hover, &:active {
      color: $base-color;
      text-decoration: none;
    }
  }

  &__meta {
    text-align: center;
  }

  &__title {
    margin: rem(10) 0;
  }

  span, time {
    color: #7a7a7a;
    font-style: italic;
  }

  &--featured, &--inline {
    .post-list__item {
      padding-bottom: rem(30);
    }

    .post-list__title {


      @include media(large) {
        font-size: rem(42);
      }
    }

    &:before, &:after {
      margin-top: rem(30);
    }
  }

  &--inline {
    font-family: $heading-font-family;

    .post-list__item {
      @include media(medium) {
        display: table;
        width: 100%;
      }
    }

    h2 {
      @extend .section-title;
    }

    .post-list__title {
      font-size: rem(24);

      @include media(medium) {
        display: table-cell;
        max-width: 480px;
        width: 85%;
        margin: 0;
      }
    }

    time {
      text-transform: uppercase;
      font-style: normal;
      font-size: rem(14);

      @include media(medium) {
        display: table-cell;
        min-width: 100px;
        width: 15%;
        text-align: right;
      }
    }
  }
}