.post {
  position: relative;

  &__header {
    text-align: center;
    padding-bottom: rem(10);

  }

  &__image {
    width: 100%;
    z-index: 1;
    will-change: transform;
  }

  &__content {
    position: relative;
    padding-top: rem(50);
    border-top: 1px solid $hairline;

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
      border: none;
    }
  }

  pre {
    @include media(small_only) {
      margin: rem(30) -1em;
    }

    @include media(medium) {
      margin: rem(30) rem(-90);
      padding: 0 rem(30);
    }
  }
}