.post {
  position: relative;

  &__header {
    // margin-top: rem(50);
    text-align: center;
  }

  &__meta {
    padding-bottom: rem(30);
  }

  &__banner {
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
    min-height: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #141618;
    color: $white;
    overflow: hidden;
    text-align: center;

      & .post__title {
        max-width: $content-width;
        z-index: 3;
      }

      & .post__meta {
        max-width: $content-width;
        position: absolute;
        bottom: 0;
        z-index: 2;
        margin: 0;
        width: 100%;
      }

      a {
        color: inherit;
      }
  }

  &__image {
    background-color: #141618;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    // position: fixed;
    opacity: .4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    will-change: transform;
  }

  &__content {
    position: relative;
    padding-top: rem(50);
    border-top: 1px solid $hairline;
  }

  pre {
    @include media(small_only) {
      margin: rem(30) -1em;
    }

    @include media(medium) {
      margin: rem(30) rem(-90);
      padding: 0 rem(30);
    }
  }
}

.covering-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $midnight;
  opacity: .6;
}

.meta-tag {

  &__list {
    font-size: rem(12);
    font-family: $heading-font-family;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    margin: rem(10) 0 0;
    padding: 0;
  }

  &__item {
    display: inline-block;

    &:after {
      content: ",";
      display: inline-block;
      margin-left: rem(-1);
      margin-right: rem(8);
    }

    &:last-child:after {
      display: none;
    }
  }
}