.post-list {
  @extend .default-list;
  margin-top: rem(50);
  margin-bottom: rem(50);
  animation: fade 600ms ease;

  &__item {
    display: block;
    margin-bottom: rem(30);
    border-bottom: 1px solid $hairline;

    &:last-child {
      border: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__link {
    display: block;
    color: #333;
    border: 0;
    text-decoration: none;
    transition: color 300ms ease-in-out;

    &:hover, &:active {
      color: $base-color;
      text-decoration: none;
    }
  }

  &__meta {
    text-align: center;
  }

  &__title {
    margin: rem(10) 0;
  }

  span, time {
    color: #7a7a7a;
    font-style: italic;
  }

  &--featured, &--inline {
    .post-list__item {
      padding-bottom: rem(30);
    }

    .post-list__title {


      @include media(large) {
        font-size: rem(42);
      }
    }

    &:before, &:after {
      margin-top: rem(30);
    }
  }
}