.browsehappy {
  font-family: $heading-font-family;
  width: 100%;
  padding: 15px 0;
  background: $white;
  border-bottom: 1px solid $hairline;

  p {
    text-align: center;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}