<!DOCTYPE html>
<!--[if IEMobile 7 ]><html lang="pt-BR" class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html lang="pt-BR" class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="pt-BR" dir="ltr" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Document</title>
    <meta name="author" content="Michal Ostruszka">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700" type="text/css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/style.css" media="all">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <header>
                <a href="{{post.url}}/">
                    <img src="http://placehold.it/200" alt="Rafael Almeida" title="Rafael Almeida" class="avatar">
                </a>
                <h1><a href="{{post.url}}/">Hi there, I'm Rafaell</a></h1>
                <h2 class="subtitle">And I love coding things to web</h2>
                <h2 class="subtitle"><a href="{{post.url}}/about">+</a></h2>
            </header>
            <footer>
                <p>
                    <a href="#" class="btn btn-dark btn-github">Github</a>
                    <a href="#" class="btn btn-dark btn-twitter">Twitter</a>
                </p>
            </footer>
        </aside>

        <main class="main">
            <div class="container">
                {{content}}
            </div>
        </main>
    </div>
</body>
</html>