---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
<head>
  {% include head.html %}
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <!-- Behavioral Meta Data -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

  {% include metadata.html %}
  {% include open-graph.html %}
  {% include twitter-cards.html %}

  <!-- Syntax highlighting CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic">
  <link rel="stylesheet" href="/assets/css/style.css" media="all">
</head>
<body>
  <main class="wrap">
    {% include header.html %}

    {{content}}

    {% include footer.html %}
  </main>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="/assets/js/main.min.js"></script>

  {% include analytics.html %}

</body>
</html>
