---
layout: default
post: true
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="headline">{{ page.title }}</h1>
    {% if page.image %}
      <figure>
        <img src="/{{ page.image }}" alt="{{page.title}}" title="{{page.title}}" itemprop="thumbnailUrl">
        <figcaption>{{ image }}</figcaption>
      </figure>
    {% endif %}
    {% include meta.html %}
    <p>{{ page.resumo }}</p>
    <span class="keywords hidden" itemprop="keywords">
      {{page.keywords}}
    </span>
  </header>
  {{ content }}


  <section class="share">
    <h4>Share this post</h4>
    <a class="fa fa-twitter-square" href="http://twitter.com/share?text={{page.title}}&amp;url={{site.url}}{{page.url}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
      <span class="hidden">Twitter</span>
    </a>
    <a class="fa fa-facebook-square" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
      <span class="hidden">Facebook</span>
    </a>
    <a class="fa fa-google-plus-square" href="https://plus.google.com/share?url={{site.url}}{{page.url}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
      <span class="hidden">Google+</span>
    </a>
  </section>

  {% if page.related %}
  <section class="fonte">
    <h3>Referências</h3>
    <ul>
      {% for rel in page.related %}
      <li itemprop="mentions" itemscope itemtype="http://schema.org/Thing">
        <a itemprop="url" href="{{ rel.url }}" title="{{ rel.title }}" target="_blank">
          <span itemprop="name">{{ rel.title }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}
</article>

{% include disqus.html %}
