---
layout: default
post: true
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="headline">{{ page.title }}</h1>
    {% if page.image %}
      <figure>
        <img src="{{ site.url }}/{{ page.image }}" alt="{{page.title}}" title="{{page.title}}" itemprop="thumbnailUrl">
        <figcaption>{{ image }}</figcaption>
      </figure>
    {% endif %}
    {% include meta.html %}
    <p>{{ page.resumo }}</p>
    <span class="keywords hidden" itemprop="keywords">
      {{page.keywords}}
    </span>
  </header>
  {{ content }}
  {% if page.related %}
    <aside class="fonte">
      <h3>Fontes</h3>
      <ul>
        {% for rel in page.related %}
        <li itemprop="mentions" itemscope itemtype="http://schema.org/Thing">
          <a itemprop="url" href="{{ rel.url }}" alt="{{ rel.title }}" title="{{ rel.title }}">
            <span itemprop="name">{{ rel.title }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </aside>
  {% endif %}
</article>

{% include disqus.html %}