---
layout: default
post: true
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="headline">{{ page.title }}</h1>
    {% if page.image %}
      <figure>
        <img src="{{ site.url }}/{{ page.image }}" alt="{{page.title}}" title="{{page.title}}" itemprop="thumbnailUrl">
        <figcaption>{{ image }}</figcaption>
      </figure>
    {% endif %}
    {% include meta.html %}
    <p>{{ page.resumo }}</p>
    <span class="keywords hidden" itemprop="keywords">
      {{page.keywords}}
    </span>
  </header>
  {{ content }}
</article>

{% include disqus.html %}

<footer id="footer">
  <p class="credit">Copyright © 2015 - Rafaell Lycan. All rights reserved.</p>
</footer>