/**************************************************************************
*
* Variables Module
*
* All variables that will be used through the styles must be
* defined here.
*
**************************************************************************/

/* Typography */

$font-family: 'Lato', sans-serif;

$font-size-base:    1em;

$line-height-base:  em(20px);

$default-font: $font-size-base/$line-height-base $font-family;

$font-size-h1:      em(56px);
$font-size-h2:      em(36px);
$font-size-h3:      em(22px);
$font-size-h4:      em(20px);
$font-size-h5:      em(18px);
$font-size-h6:      em(16px);