/**
 * Tables
 */
table {
  width: 100%;
  margin: 40px 0;
  font-size: $small-font-size;
  line-height: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}

table td,
td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}

tr > td {
  border-top: 1px solid #eee;
}

tr:nth-child(odd)>td {
  background: #f5f5f5;
}

thead th,
th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: $small-font-size;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid #dadadc;
  cursor: default;
  white-space: nowrap;
}